.header {
    background-color: #231c19;
}

.main {
    background-image: url(/img/bg.webp);
    background-position-y: 55%;
    background-size: cover;

}

.main h1,
.main2 h1 {
    font-weight: 700;
    font-family: 'Itim', cursive;

}

.reserve {
    border: 1px solid rgb(255, 255, 255);
    color: white;
}

.reserve:hover,
.book:hover,
.join1:hover,
.join2:hover,
.subsc:hover {
    color: #b84b15;
}

.book {
    color: white;
    border: 1px solid black;
    background-color: #231c19;
}


.main2 {
    background-color: #231c19;
    ;
    background-size: cover;
    background-position-y: 70%;
    overflow: hidden;
}


.join1 {
    border: 1px solid rgb(255, 255, 255);
    color: #231c19;
    background-color: white;
}


.join2 {
    border: 1px solid rgb(255, 255, 255);
    color: white;
}



.subs {
    justify-content: center;
    display: flex
}

.subsc {
    border: 1px solid rgb(0, 0, 0);
    color: #ffffff;
    background-color: #231c19;
}

a:hover {
    color: #b84b15;
}

a {
    color: #231c19;
    ;
}

.link {
    color: white;
    font-size: 12px;
}

.form-control:focus {
    box-shadow: none !important;
    border-color: #b84b15;
}

.btn:focus {
    box-shadow: none !important;
}