.header {
    background-color: #231c19;
}

.ket {
    display: flex;
    justify-content: space-between
}

.roombook {
    border: 1px solid black;
    color: #ffffff;
    background-color: #231c19;
}

.roombook:hover {
    background-color: #b84b15;
    color: white;
}


.link {
    color: white;
    font-size: 12px;
}

a {
    color: #231c19;
    ;
}

a:hover {
    color: #b84b15;
}

.form-control:focus {
    box-shadow: none !important;
    border-color: #b84b15;
}

.btn:focus {
    box-shadow: none !important;
}

.detail {
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 14px;
}